<mat-expansion-panel *ngFor="let item of escrows;" (opened)="panelOpenState = true" (closed)="panelOpenState = false">

  <mat-expansion-panel-header>
    <mat-panel-title>Prodotto {{item.productHash}}</mat-panel-title>
    <mat-panel-description>{{item.state | addSpaces}}</mat-panel-description>
  </mat-expansion-panel-header>
  <p>Venditore {{item.seller}}</p>

  <div *ngIf="item.state=='Prodotto_disponibile'">
      <mat-divider></mat-divider><br>
        Caricare chiave per scaricare e decifrare il File<br>
        <input (change)="loadKey($event)" hidden id="input-file-id" multiple type="file" />
        <label for="input-file-id" class="mat-raised-button" >Carica Chiave</label> 
        &nbsp;<mat-icon>{{icon_lock}}</mat-icon>
        <br>
      <mat-divider></mat-divider><br><br>
          <button mat-raised-button color="primary" (click)="downloadFile(item)" disabled={{!downloadFileEnabled}}>Scarica File</button> 
  </div>

</mat-expansion-panel>

<mat-expansion-panel *ngIf="!escrows.length&&loaded">
    <mat-expansion-panel-header><p> Nessun Acquisto </p></mat-expansion-panel-header>
    Non hai ancora effettutato nessun acquisto
</mat-expansion-panel>



