<mat-expansion-panel *ngFor="let item of escrows;" (opened)="panelOpenState = true" (closed)="panelOpenState = false">

  <mat-expansion-panel-header>
    <mat-panel-title>Prodotto {{item.productHash}}</mat-panel-title>
    <mat-panel-description>{{item.state | addSpaces}}</mat-panel-description>
  </mat-expansion-panel-header>
  <p>Venditore {{item.seller}}</p>

</mat-expansion-panel>

<mat-expansion-panel *ngIf="!escrows.length&&loaded">
    <mat-expansion-panel-header><p> Nessun Acquisto </p></mat-expansion-panel-header>
    Non hai ancora effettutato nessun acquisto
</mat-expansion-panel>



