<!--mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
            <h1 class="example-app-name">Decentralized Market</h1>
           <span class="spacer"></span>
           <a mat-button routerLink="/register">Register</a>
           <a mat-button routerLink="/login">Login</a>
        </mat-toolbar-row>
</mat-toolbar-->

<!--mat-sidenav-container>
        <mat-sidenav>Start</mat-sidenav>
        <mat-sidenav-content>Main</mat-sidenav-content>
</mat-sidenav-container>

<mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="." >nav</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <p >a</p>
    </mat-sidenav-content>
  </mat-sidenav-container-->
  AAA

  <button mat-button (click)="connect()" color="primary">Connect uPort</button>
