<form [formGroup]="productCode">
  <mat-form-field class="market-form">
    <br><br>
    <input matInput placeholder="Inserisci Codice Prodotto" formControlName="firstCtrl" required>
  </mat-form-field>
  <br>
  <button mat-button class="market-button" color="primary" (click)="getProduct()" >Cerca</button>
</form>

<div *ngIf='!noProduct'>
<div>
  <mat-list>
      <mat-list-item>Descrizione: {{actualProduct.description}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Codice prodotto: {{actualProduct.hash}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Venduto da: {{actualProduct.seller}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Prezzo: {{actualProduct.price}} Ether</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Acquistato {{actualProduct.purchaseNumber}} volte</mat-list-item>
    </mat-list>
    <br>
    <button mat-button class="market-button" color="primary" (click)="buyProduct()" >Acquista</button>
</div>
</div>

<div *ngIf='noProduct'>

</div>