<mat-expansion-panel *ngFor="let item of escrows;" (opened)="panelOpenState = true" (closed)="panelOpenState = false">

    <mat-expansion-panel-header>
      <mat-panel-title>Prodotto {{item.productHash}}</mat-panel-title>
      <mat-panel-description>{{item.state | addSpaces}}</mat-panel-description>
    </mat-expansion-panel-header>
    <p>Acquirente {{item.buyer}}</p>
  
    <div *ngIf="item.state=='In_attesa_del_venditore'">
        <!--mat-divider></mat-divider><br>
          Caricare chiave per cifrare il File<br>
          <input (change)="loadKey($event)" hidden id="input-file-id" multiple type="file" />
          <label for="input-file-id" class="mat-raised-button">Carica Chiave</label> 
          &nbsp;<mat-icon>{{icon_lock}}</mat-icon>
          <br-->
        <mat-divider></mat-divider><br><br>
        <div *ngIf="loadFileEnabled" >
          <input (change)="loadFile(item.buyer,item.escrowAddress,item.productHash,$event)" hidden id="input-file-id" multiple type="file" />
          <label for="input-file-id" class="mat-raised-button">Carica File</label> 
        </div>
        
            
    </div>

  </mat-expansion-panel>
  
  <mat-expansion-panel *ngIf="!escrows.length&&loaded">
      <mat-expansion-panel-header><p> Nessuna Vendita </p></mat-expansion-panel-header>
      Non hai ancora effettutato nessuna Vendita
  </mat-expansion-panel>