<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="over"
    >
    <mat-toolbar color="primary"><button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="reset();loadProducts=true;sidenav.toggle()"><mat-icon>account_circle</mat-icon>Miei Prodotti</a>
      <a mat-list-item (click)="reset();loadSales=true;sidenav.toggle()"><mat-icon>euro_symbol</mat-icon> Vendite</a>
      <a mat-list-item (click)="reset();loadPurchases=true;sidenav.toggle()"><mat-icon>shopping_cart</mat-icon>Acquisti</a>
      <a style="position: absolute;bottom: 0;" mat-list-item (click)="exit()"><mat-icon>cancel</mat-icon>Esci</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button  mat-icon-button onclick="this.blur()" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      <span>DMarket</span>
      <span class="spacer"></span>
      <img width="70px" height="50px" src="https://ipfs.infura.io/ipfs/QmUEZVTmrRfckVEGpwpuy9LCHPZTW3CQSR5HR2swLiETY3">{{name}}
      <a mat-button (click)="exit()"><mat-icon>cancel</mat-icon>Esci</a>
    </mat-toolbar>
    <div #container>
      <app-user class="containers" *ngIf="loadUser"></app-user>
      <app-products class="containers" *ngIf="loadProducts"></app-products>
      <app-purchases class="containers" *ngIf="loadPurchases"></app-purchases>
      <app-sales class="containers" *ngIf="loadSales"></app-sales>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
